<div style="padding-top: 12px">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="my-font-gold">Infomation</span>
		</div>
		<div class="panel-body">
			<div ng-if="!liveID">
				Please login to use this function.
			</div>
			<div ng-if="liveID">
				<strong>Username: </strong>{{user.username}} <br>
				<strong>Email: </strong>{{ user.email }} <br>
								<hr>

				<div ng-if="!user.steamId">
					<p>CONFIRM YOUR ACCOUNT OF 5ETOP TO PREDICTION.</p>
					<button type="button" class="btn btn-success" ng-if="!user.steamId" style="font-size: 11px;" data-toggle="modal" data-target="#confirmIDModal">ACTIVE</button>
				</div>
				<div ng-if="user.steamId">
					<strong>SteamID: </strong>{{ user.steamId }} ><br>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="my-font-gold">Referral</span>
		</div>
		<div class="panel-body">
			<div ng-if="!liveID">
				Please login to use this function.
			</div>
			<div ng-if="liveID">
				You can receive <strong>0.5%</strong> bonus of predictions from whom you invite.<br>

			</div>
		</div>
	</div>

	    <table class="table panel panel-default">
      <thead class="panel-heading">
        <tr>
          <th>Nickname</th>
          <th>SteamId</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody class="panel-body">
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
</div>

